<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="assets/img/logokit.png" class="img-fluid kithub-logo" alt="" srcset="">
    </div>
    <div class="col-sm-6">
      <p class="display-6"> <label class="nos-prog">APROPOS DE NOUS</label></p>
      <p class="text-femm-dev">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
        quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
        delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
        quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
        ratione porro magnam quam beatae tenetur!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
        quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
        delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
        quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
        ratione porro magnam quam beatae tenetur!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
        quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
        delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
        quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
        ratione porro magnam quam beatae tenetur!
      </p>
      <div class="text-center">
        <a routerLink="/about" mat-stroked-button class="more-btn">VOIR PLUS</a>
      </div>
    </div>
  </div>
</div>
