<div class="container">
  <br><br><br>
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/img/logokit.png" class="img-fluid kithub-logo" alt="" srcset="" data-aos="fade-right">
    </div>
    <div class="col-lg-6">
      <p class="display-6"> <label class="nos-prog" translate data-aos="fade-up">home.about_title</label></p>
      <p class="text-femm-dev" translate data-aos="fade-up">home.about_message</p>
      <div class="text-center mt-5">
        <button routerLink="/about" class="more-btn btn btn-sm btn-light" translate data-aos="fade-up">home.dep_home_btn</button>
      </div>
    </div>
  </div>
</div>
