<div class="container">
  <br><br><br>
  <div><p class="display-6 text-center"><label class="anim-domaine" translate>header.element_seven</label></p></div>
  <br><br><br>
  <div class="row">
    <div class="col-lg-4">
      <mat-card class="shadow-lg card-anim  mt-3 card-prog">
        <img src="assets/img/storytelling.jpg" class="img-fluid" alt="" srcset="">
        <p class="h4" translate>storrytelling_home.storrytelling_home_title</p>
        <mat-card-content>
          <p class="text-femm-dev" translate> storrytelling_home.storrytelling_home_msg </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card class="shadow-lg card-anim mt-3 card-prog">
        <img src="assets/img/prog-future.png" class="img-fluid" alt="" srcset="">
        <p class="h4" translate>digicom_home.digicom_home_title</p>
        <mat-card-content>
          <p class="text-femm-dev" translate>digicom_home.digicom_home_msg</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card class="shadow-lg card-anim mt-3 card-prog">
        <img src="assets/img/digicom-learn.png" class="img-fluid" alt="" srcset="">
        <p class="h4" translate>program_home.program_home_title</p>
        <mat-card-content>
          <p class="text-femm-dev" translate>program_home.program_msg</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <mat-card class="shadow-lg card-anim mt-3 card-prog">
        <img src="assets/img/fd.jpg" class="img-fluid" alt="" srcset="">
        <p class="h4" translate>fem_home.fem_home_title</p>
        <mat-card-content>
          <p class="text-femm-dev" translate>home.program_name_four</p>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- <div class="col-lg-4">
      <mat-card class="shadow-lg card-anim mt-3 card-prog">
        <p class="h4">LEN Feminin</p>
        <mat-card-content>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
      </mat-card>
    </div> -->
    <div class="col-lg-4">
      <mat-card class="shadow-lg card-anim mt-3 card-prog">
        <img src="assets/img/ent3.jpg" class="img-fluid" alt="" srcset="">
        <p class="h4" translate>chida_home.chida_home_title</p>
        <mat-card-content>
          <p class="text-femm-dev" translate>chida_home.chida_home_msg</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card class="shadow-lg card-anim mt-3 card-prog">
        <p class="h4" translate>wip_home.wip_home_title</p>
        <mat-card-content>
          <p class="text-femm-dev" translate>wip_home.wip_home_msg</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-6">
      <p class="text-center"><button routerLink="/department" class="more-btn-prog btn btn-sm btn-light" translate>home.dep_home_btn</button></p>
    </div>
  </div>
</div>
