<div class="container">
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-domaine" translate>header.element_four</label></p></div>
  <br><br><br>
  <div class="row">
    <div class="col-sm-4">
      <mat-card class="shadow-lg card-anim  mt-3">
        <p class="h4">STORRY TELLING</p>
        <mat-card-content>
          <p class="text-femm-dev">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card class="shadow-lg card-anim mt-3">
        <p class="h4">DIGICOM LEN</p>
        <mat-card-content>
          <p class="text-femm-dev">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card class="shadow-lg card-anim mt-3">
        <p class="h4">PROGRAM YOUR FUTURE</p>
        <mat-card-content>
          <p class="text-femm-dev">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-card class="shadow-lg card-anim mt-3">
        <p class="h4">FemDEV</p>
        <mat-card-content>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card class="shadow-lg card-anim mt-3">
        <p class="h4">LEN Feminin</p>
        <mat-card-content>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card class="shadow-lg card-anim mt-3">
        <p class="h4">ChiDA</p>
        <mat-card-content>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-card class="shadow-lg card-anim mt-3">
        <p class="h4">WIP</p>
        <mat-card-content>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6">
      <p class="text-center"><button routerLink="/department" class="more-btn-prog btn btn-sm btn-light" translate>home.dep_home_btn</button></p>
    </div>
  </div>
</div>
