.anim-domaine{
  cursor: pointer;
  transition: 1s;
  position: relative;
}
.anim-domaine::before{
  content: '';
  position: absolute;
  background-color: #495e57;
  height: 3px;
  width: 100px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}
@keyframes animate{
  0%{
    width: 100px;
  }
  50%{
    width: 200px;
  }
  100%{
    width: 100px;
  }
}
.anim-domaine:hover{
  color: #495e57;
  transform: scale(1.1);
}
.more-btn-prog{
  transition: 1s;
  margin-top: 120px;
}
.more-btn-prog:hover{
  background: #495e57;
  color: white;
  transform: scale(1.1);
}
.text-femm-dev{
  text-align: justify;
}
.card-anim{
  transition: 1s;
}
.card-anim:hover{
  background-color: #495e57;
  color: white;
}
.card-prog{
  min-height: 40vh;
}
