<section class="container">
  <br><br>
  <div><p class="display-6 text-center fw-bold"><label class="anim-text">QUI NOUS SOMMES</label></p></div>
  <br><br>
  <div class="row rs-1 shadow-lg">
    <div class="col-sm-6 mt-3">
      <img src="assets/img/002.png" class="img-fluid" alt="">
    </div>
    <div class="col-sm-6 cs-1">
      <p class="historique-text">
        <!--<span class="h4">Historique</span><br><br>-->
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repellendus sed atque voluptate eveniet libero,
        non velit at, ipsa laboriosam, enim fugit. Minima, eligendi non distinctio mollitia recusandae harum accusantium hic
        quia id quis provident vero aperiam illo, perspiciatis veniam consectetur nostrum dicta aspernatur expedita assumenda.
        Officiis facilis aliquam quod error impedit quis animi. Architecto veritatis enim itaque tempore mollitia asperiores
        doloremque non totam porro nam vitae et quos saepe facilis, assumenda similique? Sit cupiditate quae corrupti,
        facilis voluptatem eos reprehenderit officia atque vero sint ipsam iusto dolore? Itaque, numquam reiciendis!
        Rerum eaque commodi corrupti distinctio, quo mollitia enim et?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repellendus sed atque voluptate eveniet libero,
        non velit at, ipsa laboriosam, enim fugit. Minima, eligendi non distinctio mollitia recusandae harum accusantium hic
        quia id quis provident vero aperiam illo, perspiciatis veniam consectetur nostrum dicta aspernatur expedita assumenda.
        Officiis facilis aliquam quod error impedit quis animi. Architecto veritatis enim itaque tempore mollitia asperiores
        doloremque non totam porro nam vitae et quos saepe facilis, assumenda similique? Sit cupiditate quae corrupti,
        facilis voluptatem eos reprehenderit officia atque vero sint ipsam iusto dolore? Itaque, numquam reiciendis!
        Rerum eaque commodi corrupti distinctio, quo mollitia enim et?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repellendus sed atque voluptate eveniet libero,
        non velit at, ipsa laboriosam, enim fugit. Minima, eligendi non distinctio mollitia recusandae harum accusantium hic
        quia id quis provident vero aperiam illo, perspiciatis veniam consectetur nostrum dicta aspernatur expedita assumenda.
        Officiis facilis aliquam quod error impedit quis animi. Architecto veritatis enim itaque tempore mollitia asperiores
        doloremque non totam porro nam vitae et quos saepe facilis, assumenda similique? Sit cupiditate quae corrupti,
        facilis voluptatem eos reprehenderit officia atque vero sint ipsam iusto dolore? Itaque, numquam reiciendis!
        Rerum eaque commodi corrupti distinctio, quo mollitia enim et?
      </p>
    </div>
  </div>
</section>
