<section class="container">
  <br><br>
  <div>
    <p class="display-6 text-center"><label class="anim-text" translate>about.about_title_one</label></p>
  </div>
  <br><br>
  <div class="row rs-1 shadow-lg">
    <div class="col-sm-6 mt-3">
      <img src="assets/img/002.png" class="img-fluid" alt="">
    </div>
    <div class="col-sm-6 cs-1">
      <p class="historique-text" translate><br>
        <span class="h4" translate>about.about_historique_title</span><br><br>
        about.about_historique_msg
      </p>
    </div>
  </div>
</section>
