.anim-text{
  cursor: pointer;
  transition: 1s;
  position: relative;
}
.anim-text::before{
  content: '';
  position: absolute;
  background-color: #495e57;
  height: 3px;
  width: 100px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}
@keyframes animate{
  0%{
    width: 100px;
  }
  50%{
    width: 200px;
  }
  100%{
    width: 100px;
  }
}
.anim-text:hover{
  color: #495e57;
  transform: scale(0.8);
}
.rs-1{
  border: solid 4px #495e57;
}
.cs-1{
  background-color: #495e57;
  color: white;
}
.historique-text{
  text-align: justify;
}
