<div class="container">
  <br><br>
  <div class="display-6 text-center"><label class="anim-domaine">NOTRE EQUIPE</label></div>
  <br><br>
  <div class="row">
    <div class="col-md-4 mt-3">
      <mat-card class="shadow-lg">
        <mat-card-content>
          <img [src]="img_one_url" class="img-fluid img-ani" alt="" srcset="">
          <br>
          <div>
            <br>
            <p class="h6 text-center">Chris Clement IGIRANEZA</p>
            <p>Fondateur et president de Kithub</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6 col-md-2 mt-3">
      <mat-card class="shadow-lg">
        <mat-card-content>
          <img [src]="img_one_url" class="img-fluid img-ani" alt="" srcset="">
          <br>
          <div>
            <br>
            <p class="h6 text-center">Mme Erica NGABIRE</p><br>
            <p>Vice President Brand Ambassador</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6  col-md-2 mt-3">
      <mat-card class="shadow-lg">
        <mat-card-content>
          <img [src]="img_one_url" class="img-fluid img-ani" alt="" srcset="">
          <br>
          <div>
            <br>
            <p class="h6 text-center">Mr NZEYIMANA Hassan</p><br>
            <p>Brand Ambassador</p>
            <br>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6 col-md-2 mt-3">
      <mat-card class="shadow-lg">
        <mat-card-content>
          <img [src]="img_one_url" class="img-fluid img-ani" alt="" srcset="">
          <br>
          <div>
            <br>
            <p class="h6 text-center">Mr NINTUNZE Evariste</p><br>
            <p>Representant Legal de Kithub</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6 col-md-2 mt-3">
      <mat-card class="shadow-lg">
        <mat-card-content>
          <img [src]="img_one_url" class="img-fluid img-ani" alt="" srcset="">
          <br>
          <div>
            <br>
            <p class="h6 text-center">Mr Alimasi Ferdinand Ernest</p><br>
            <p>Responsable Innovation</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
