<div class="container">
  <br><br><br>
  <div class="display-6 text-center"><label class="anim-domaine" translate>home.patner_title</label></div>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm mt-3"><button  class="btn-paternaire" (click)="show_all()" translate>home.btn_all_name</button></div>
      <div class="col-6 col-sm mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_burundi()" >Burundi</button></div>
      <!-- <div class="col-6 col-sm mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_tanzanie()" >Tanzanie</button></div> -->
      <div class="col-6 col-sm mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_france()" >France</button></div>
      <!-- <div class="col-6 col-sm mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_russie()" >Russie</button></div>
      <div class="col-6 col-sm mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_usa()" >Usa</button></div>
      <div class="col-6 col-sm mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_all()" >Tous</button></div> -->
      <div class="col-6 col-sm mt-3"><button mat-raised-button class="btn-paternaire" (click)="show_benin()" >Benin</button></div>
    </div>
  </div>
  <div class="container mt-3">
    <div id="tous" *ngIf="tous">
      <div class="row">
        <div class="col-6 col-sm-2">
          <img [src]="pathner1" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner2" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner3" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner4" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner5" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner6" class="img-fluid" alt="" srcset="">
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-2">
          <img [src]="pathner7" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner8" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner9" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner10" class="img-fluid" alt="" srcset="">
        </div>
        <!-- <div class="col-6 col-sm-2">
          <img [src]="pathner11" class="img-fluid" alt="" srcset="">
        </div> -->
        <div class="col-6 col-sm-2">
          <img [src]="pathner12" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner13" class="img-fluid" alt="" srcset="">
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-6 col-sm-2">
          <img [src]="pathner14" class="img-fluid" alt="" srcset="">
        </div> -->
        <div class="col-6 col-sm-2">
          <img [src]="pathner15" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner16" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner17" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner18" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner19" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner20" class="img-fluid" alt="" srcset="">
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-2">
          <img [src]="pathner21" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
    <div id="burundi" *ngIf="burundi">
      <div class="row">
        <div class="col-6 col-sm-2">
          <img [src]="pathner1" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner2" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner3" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner4" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner5" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner6" class="img-fluid" alt="" srcset="">
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-2">
          <img [src]="pathner8" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner9" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner10" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner18" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-6 col-sm-2">
          <img [src]="pathner20" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
    <div id="benin" *ngIf="benin">
      <div class="row">
        <div class="col-6 col-sm-2">
          <img [src]="pathner12" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="france" *ngIf="france">
      <div class="row">
        <div class="col-6 col-sm-2">
          <img [src]="pathner7" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div class="container">
    <!--<app-news-letters></app-news-letters>-->
  </div>
  <br><br>
</div>
