.last-news{
  background-color: #495e57;
  width: 100%;
  height: auto;
}
.last-news{
  background-color: #495e57;
  width: 100%;
  min-height: 40vh;
}
.anim-last-news{
  cursor: pointer;
  transition: 1s;
  position: relative;
  color: #ffffff;
}
.anim-last-news::before{
  content: '';
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 100px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}
@keyframes animate{
  0%{
    width: 100px;
  }
  50%{
    width: 200px;
  }
  100%{
    width: 100px;
  }
}
.anim-last-news:hover{
  color: #bac7c3;
  transform: scale(0.8);
}
.small-text{
  background: white;
  width: 100px;
  height: 20px;
  color: #495e57;
  border-radius: 60px;
  margin: 5px;
}
