<div class="last-news">
  <div class="display-6 text-center"><label class="anim-last-news">DERNIERES NOUVELLES</label></div><br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mt-3">
        <div class="last-news-img">
          <br>
          <div class="small-text text-center">
            <small>ANNONCE</small>
          </div>
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <p class="h1 text-white">Event name....</p>
          <p class="h6 text-white">Date and time</p>
        </div>
      </div>
      <div class="col-sm-6 mt-3">
        <div class="last-news-img_two">
          <br>
          <div class="small-text text-center">
            <small>ANNONCE</small>
          </div>
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <p class="h1 text-white">Event name....</p>
          <p class="h6 text-white">Date and time</p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
