.loading-footer{
  // background: white url("/assets/img/4.png") no-repeat scroll center;
  background: white url("https://firebasestorage.googleapis.com/v0/b/kithub-fire.appspot.com/o/IMG_4203.JPG?alt=media&token=11bac007-8a70-4344-9014-746a79ebc475") no-repeat scroll center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  color: #cdb3b3;
}
.wrapper{
  background-color: rgba(0,0,0,0.9);
  height: 100%;
}
.footer-text{
  text-align: justify;
}
li{
  list-style: none;
  transition: 1s;
}
li:hover{
  color: #a59292;
}
.icons{
  transition: 1s;
  color: #3b5998;
}
.icons:hover{
  transform: rotate(360deg);
}
.icons-t{
  transition: 1s;
  color: #1DA1F2
}
.icons-t:hover{
  transform: rotate(360deg);
}
.icons-i{
  transition: 1s;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.icons-i:hover{
  transform: rotate(360deg);
}
.icon-l{
  transition: 1s;
  color: #0072b1;
}
.icon-l:hover{
  transform: rotate(369deg);
}
.element_x{
  text-decoration: none;
  color: white;
}
