<section class="slide">
  <div class="wrapper">
    <br><br><br><br>
    <div class="container">
      <p class="display-2 text-center fw-bold" translate>event.title</p>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <p class="h3" translate>home.devise_title<span>:</span></p>
          </div>
          <div class="col-sm-2">
            <p class="devise-txt" translate>home.devise</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
