small a{
  text-decoration: none;
  color: black;
}
.c-toolbar{
  background-color: #495e57;
  // background-color: #537FE7;
  border-top: solid 5px white;
  height: auto;
}
.menu{
  border-left: 2px solid white;
  padding-left: 5px;
}
.menu .menu-item{
  text-decoration: none;
  padding: 20px;
  color: white;
  transition: 1s;
  font-size: 12px;
}
.menu .menu-item:hover{
  border-top: 1px solid white;
  color: #a9c4bb;
}
.menu_point{
  display: none;
}
.calender{
  border-left: 1px solid white;
}
.element-cal{
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.img-logo{
  padding-right: 5px;
}
.language{
  padding: 10px;
}
.inside-menu{
  display: none;
}
.header-contact{
  width: auto;
  height: auto;
  background-color: #495e57;
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  transition: 1s;
  font-size: 15px;
}
.header-contact:hover{
  background-color: white;
  color: #495e57;
}
.contact-mob{
  width: auto;
  height: auto;
  background-color: #495e57;
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  transition: 1s;
  font-size: 15px;
}
.contact-mob:hover{
  background-color: white;
  color: #495e57;
}
.arrow-design{
  color: white;
  transition: 1s
}
.arrow-design:hover{
  filter: drop-shadow(0 0 2em #646cffaa)
}
@media only screen and (max-width: 700px) {
  .language{
    display: none;
  }
  .inside-menu{
    display: block;
  }
  .date-design{
    display: none;
  }
}
@media only screen and (max-width: 1190px){
  .menu{
    display: none;
  }
  .menu_point{
    display: block;
  }
}
@media only screen and (max-width: 1310px)
{
  .header-contact{
    display: none;
  }
}
