*{
  // background-color: #000;
  // min-height: 200vh;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: auto;
  display: none;
  cursor: pointer;
}
#check{
  display: none;
}
nav{
  // width: 100%;
  // height: 100px;
  // background-color: #3e53a4;
  // position: static;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 30px 80px;
  z-index: 100000;
  text-transform: uppercase;
}
nav.sticky{
  padding: 5px 50px;
  background-color: #3e53a4;
}
nav.sticky ul li a{
  color: #fff;
}
nav .logo{
  position: relative;
  font-weight: 700;
  color: #3e53a4;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
nav ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li{
  position: relative;
  list-style: none;
  display: inline-block;
}
nav ul li a{
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}
nav ul li a:focus {
  background-color: #fff;
  color: #3e53a4;
  transition: 0.5s;
  border-radius: 20px;
  padding: 5px;
}
nav ul li a.active, a:hover{
  // background: white;
  // transition: .5s;
}
ol{
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  z-index: 1;
}
ol:focus{
  display: none;
}
// ol a:hover {
//   background-color: #eee;
//   color: black;
// }

ol:focus{
  display: block;
}
// .banner{
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   background: url(/assets/img/kithub_back.png) no-repeat scroll;
//   // background: url(/assets/img/kitone.jpg) no-repeat scroll;
//   background-size: cover;
// }

small a{
  text-decoration: none;
  color: black;
}
.c-toolbar{
  background-color: #495e57;
  // background-color: #537FE7;
  border-top: solid 5px white;
  height: auto;
}
.menu{
  border-left: 2px solid white;
  padding-left: 5px;
}
.menu .menu-item{
  text-decoration: none;
  padding: 20px;
  color: white;
  transition: 1s;
  font-size: 12px;
}
.menu .menu-item:hover{
  border-top: 1px solid white;
  color: #a9c4bb;
}
.menu_point{
  display: none;
}
.calender{
  border-left: 1px solid white;
}
.element-cal{
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.img-logo{
  padding-right: 5px;
}
.language{
  padding: 10px;
}
.inside-menu{
  // display: none;
  display: block;
}
.header-contact{
  width: auto;
  height: auto;
  // background-color: #495e57;
  background-color: #3e53a4;
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  transition: 1s;
  font-size: 15px;
}
.header-contact:hover{
  background-color: white;
  // color: #495e57;
  color: #3e53a4;
}
.contact-mob{
  width: auto;
  height: auto;
  // background-color: #495e57;
  background-color: #3e53a4;
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  transition: 1s;
  font-size: 15px;
}
.contact-mob:hover{
  background-color: white;
  // color: #495e57;
  color: #3e53a4;
}
.arrow-design{
  color: white;
  transition: 1s
}
.arrow-design:hover{
  filter: drop-shadow(0 0 2em #646cffaa)
}
@media only screen and (max-width: 700px) {
  .language{
    display: none;
  }
  .inside-menu{
    display: block;
  }
  .date-design{
    display: none;
  }
}
@media only screen and (max-width: 1190px){
  .menu{
    display: none;
  }
  .menu_point{
    display: block;
  }
  .element-cal{
    display: none;
  }
}
@media only screen and (max-width: 1310px)
{
  .header-contact{
    display: none;
  }
}
@media (max-width: 960px)
{
  .checkbtn{
    display: block;
  }
  nav ul{
    // position: fixed;
    // width: 100%;
    // height: 100vh;
    // background-color: #3e53a4;
    // line-height: 10px;
  }
  nav ul{
    display: none;
  }
}
