<section class="slide">
  <div class="wrapper">
    <br><br><br><br>
    <div class="container">
      <p class="display-2 text-center fw-bold">KIT-HUB</p>
      <br><br><br><br><br><br>
      <p class="text-center h6" translate>home.title</p>
      <p class="text-center" translate>home.subtitle</p>
      <br><br><br><br><br><br>
      <div>
        <p class="text-center"><button routerLink="/about" class="ready-more btn btn-sm " translate>home.dep_home_btn</button></p>
      </div>
    </div>
  </div>
</section>
