.slide{
  // background: white url("/assets/img/27.png") no-repeat scroll center;
  background: white url("https://firebasestorage.googleapis.com/v0/b/kithub-fire.appspot.com/o/fd.jpg?alt=media&token=0d95d023-2908-476d-92d9-1a241a2dc2c9") no-repeat scroll center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: white;
}
.wrapper{
  background-color: rgba(0,0,0,0.8);
  height: 100%;
}
.ready-more{
  width: 200px;
  height: 50px;
  padding: 8px;
  color: white;
  border: solid 2px white;
}
.anim-home{
  cursor: pointer;
  transition: 1s;
  position: relative;
}
.anim-home::before{
  content: '';
  position: absolute;
  background-color: #495e57;
  height: 3px;
  width: 100px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}
@keyframes animate{
  0%{
    width: 100px;
  }
  50%{
    width: 200px;
  }
  100%{
    width: 100px;
  }
}
.anim-home:hover{
  color: #495e57;
  transform: scale(1.1);
}
