.btn-send{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #495e57;
  color: white;
  border: 2px solid white;
  transition: 1s;
  font-size: 15px;
}
/*
.btn-send:hover{
  background-color: rgb(119, 190, 209);
  color: #495e57;
}*/
.txt-title{
  color: #495e57;
}
.inputs{

}
.inputs:hover{
  color: #495e57;
}
.inputs:focus{
  color: #495e57;
}
