<div class="container text-color">
    <br><br><br><br>
    <div>
        <p class="display-6 text-center" data-aos="fade-down"><label class="anim-text">WEA(Women Empowerment
                Advocacy)</label></p>
    </div>
    <br><br><br><br>
    <label data-aos="fade-down">
        Department for the empowerment of young girls and women, as well as advancing gender equality and Social Impact
        through an
        inclusive and entrepreneurial digital transformation. WEA is made up of two flagship programs
    </label>
    <br><br>
    <hr class="mt-2">
    <div class="row ">
        <div class="col-sm-6 mt-3 mb-3">
            <!-- <p class="fdv-text">
                <br><br><br><br>
                <label class="h4">LEN Feminin</label>
                <br><br><br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
                dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
                neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
                dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
                neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
                dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
            </p> -->
            <p class="fdv-text" data-aos="fade-down">
                <br>
                <label class="h4" translate>fem_home.fem_home_title</label>
                <br><br>
                <span translate>fem_home.fem_home_msg_full</span>
            </p>
        </div>
        <div class="col-sm-6 pr-c-1 mt-3 mb-3">
            <img src="assets/img/fd.jpg" class="img-fluid" alt="" data-aos="fade-up">
        </div>
    </div>
    <hr class="mt-2">
</div>