<div class="sec-3">
  <div class="container">
    <br><br>
    <div class="row">
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg card-1">
          <p class="text-center h4 fw-bold text-white">POUR QUOI KIT-HUB</p>
          <p class="objectifif-text text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
          </p>
        </mat-card>
      </div>
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg card-2">
          <p class="text-center h4 fw-bold">BONNE PRATIQUE</p>
          <p class="objectifif-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
          </p>
        </mat-card>
      </div>
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg card-3">
          <p class="text-center h4 fw-bold text-white">PARTENAIRE</p>
          <p class="objectifif-text text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero explicabo necessitatibus neque,
            rem odit voluptates asperiores cumque sunt voluptatem officia architecto consectetur pariatur placeat
            tempora, accusantium, velit eius illo amet aliquam vitae soluta temporibus quaerat. Iure inventore id
            ad esse voluptatum illo architecto, nam pariatur, quod fugit maiores nulla?
          </p>
        </mat-card>
      </div>
    </div>
    <br><br>
    <div class="row">
      <p class="display-6 text-center fw-bold">Autres particularités de KIT-HUB</p>
    </div>
  </div>
  <br><br><br><br>
    <div class="container-fluid">
      <!--<app-news-letters></app-news-letters>-->
    </div>
  <br><br>
</div>

