<div class="sec-3">
  <div class="container">
    <br><br>
    <div class="row">
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg card-1">
          <p class="text-center h4 fw-bold text-white" translate>about.about_why_title</p>
          <p class="objectifif-text text-white" translate>about.about_why_msg</p>
        </mat-card>
      </div>
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg card-2">
          <p class="text-center h4 fw-bold" translate>about.about_access_title</p>
          <p class="objectifif-text" translate>about.about_access_msg</p>
        </mat-card>
      </div>
      <div class="col-sm-4 mt-3">
        <mat-card class="shadow-lg card-3">
          <p class="text-center h4 fw-bold text-white" translate>about.about_pathner_title</p>
          <p class="objectifif-text text-white" translate>about.about_pathner_msg</p>
        </mat-card>
      </div>
    </div>
    <br><br><br><br>
    <div class="row">
      <p class="display-6 text-center fw-bold" translate>about.about_ordino_title</p>
      <img src="assets/img/ordinogram-kithub.png" class="img-fluid" alt="" srcset="">
    </div>
  </div>
</div>

