.login{
  background-color: #3e53a4;
  padding-top: 100px;
  height: 80vh;
}
.inpts{
  font-size: 10px;
}
.btn{
  width: 100%;
  background-color: #3e53a4;
  color: white;
}
.txt-color{
  color: #3e53a4;
}
