
<div class="input-filter">
  <input type="text" class="form-control input " placeholder="Filter here..." [(ngModel)]="filterInput">
</div>
<br>
<div class="content" *ngFor="let event of eventsFilter" (click)="selectEvent(event)">
  <mat-card class="shadow-lg anim-card">
    <mat-card-title>
      <p class="h4">{{event.event_name }}</p>
    </mat-card-title>
    <mat-card-content>
      <!--<p class="py-3">{{event.event_details}}</p>-->
      <!--<p> <img [src]=" event.event_img_name" class="img-fluid" alt="" srcset=""> </p>-->
    </mat-card-content>
    <mat-card-actions>
      <p>{{ event.event_date.toDate() | date:'fullDate'}}</p>
    </mat-card-actions>
  </mat-card>
  <br>
</div>

<!-- Left Card -->
