.anim-card{
  //cursor: pointer;
  
}
.input-filter{
  width: 100%;
  background-color: black;
}
.input{
  ///ddd
}
.input:hover{

}
.title_css{
  cursor: pointer;
}
.title_css:hover{
  color: #495e57;
  transition: 1s;
}
.img_click{
  cursor: pointer;
}
