.devise-txt{
    text-align: justify;
  }
  .anim-text{
    cursor: pointer;
    transition: 1s;
    position: relative;
    color: #3e53a4;
  }
  .anim-text::before{
    content: '';
    position: absolute;
    //background-color: white;
    background-color: #3e53a4;
    height: 3px;
    width: 100px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
  }
  @keyframes animate{
    0%{
      width: 100px;
    }
    50%{
      width: 200px;
    }
    100%{
      width: 100px;
    }
  }
//   .anim-text:hover{
//     color: #bcc3c1;
//     transform: scale(0.9);
//   }
.text-color{
    color: #3e53a4;
}
  .fdv-text{
    text-align: justify;
  }