<div class="container text-color">
    <br><br><br><br>
    <div>
        <p class="display-6 text-center" data-aos="fade-down" ><label class="anim-text">HUDI (Humanitarian Direct Impact)</label></p>
    </div>
    <br><br><br><br>
    <label data-aos="fade-down">
        This department is about creating a more human community by bring on the table the idea of collective work and
        responsibility Two core programs are to be noted here
    </label>
    <br>
    <br>
    <hr class="mt-2">
    <div class="row">
        <div class="col-sm-6 mt-3 mb-3">
            <p class="fdv-text" data-aos="fade-down" >
                <br>
                <label class="h4" translate>chida_home.chida_home_title</label>
                <br><br>
                <span translate>chida_home.chida_home_msg_full</span>
            </p>
        </div>
        <div class="col-sm-6 mt-3 mb-3" data-aos="fade-up">
            <img src="assets/img/ent3.jpg" class="img-fluid" alt="" srcset="">
        </div>
    </div>
    <hr class="mt-2">
    <div class="row">
        <div class="col-sm-6 mt-3 mb-3">
            <p class="fdv-text" data-aos="fade-down" >
                <br>
                <label class="h4" translate>wip_home.wip_home_title</label>
                <br><br>
                <span translate>wip_home.wip_home_msg_full</span>
            </p>
        </div>
        <div class="col-sm-6 mt-3 mb-3" data-aos="fade-up">
            <img src="assets/img/ent3.jpg" class="img-fluid" alt="" srcset="">
        </div>
    </div>
    <hr class="mt-2">
</div>