<section class="slide">
  <div class="wrapper">
    <br><br><br><br>
    <div class="container">
      <p class="display-2 text-center fw-bold">DEPARTEMENT DE KIT-HUB</p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <p class="h3">DEVISE:</p>
          </div>
          <div class="col-sm-2">
            <p class="devise-txt">LA MUTUALISATION ET LE TRAVAIL EN RESEAUX COMME CLE DE L'INNOVATION ET DE LA REIVENTION DE LA MAIN D'OEUVRE</p>
          </div>
        </div>
      </div>
  </div>
</section>
<div class="pro-sec">
  <div class="container">
    <br><br>
    <div><p class="display-6 text-center fw-bold"><label class="anim-text">CATA(Creative Art and Talent Advocacy)</label></p></div>
    <br>
    <label>
      Department responsible for promoting creativity and innovation, as well as accompanying talent.
      We showcase talent and create frameworks that facilitate creativity.
    </label>
    <br><br>
    <div class="row pr-r-1">
      <div class="col-sm-6">
        <!--<img src="assets/img/femmedev.png" class="img-fluid" alt="">-->
      </div>
      <div class="col-sm-6 pr-c-1">
        <p class="fdv-text">
          <br>
          <label class="h4">STORRY TELLING</label>
          <br><br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <br><br>
    <div><p class="display-6 text-center fw-bold"><label class="anim-text">ComLab (Community Lab)</label></p></div>
    <br>
    <label>
      Department in charge of accompanying people with ideas and students for the creation of employment and the reinvention of the workforce. Comlab consists of 2 programs
    </label>
    <br>
    <br>
    <div class="row pr-r-2">
      <div class="col-sm-6 pr-c-2">
        <p class="fdv-text">
          <br>
          <label class="h4">DIGICOM LEN</label>
          <br><br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        </p>
      </div>
      <div class="col-sm-6">
        <p class="fdv-text">
          <br>
          <label class="h4">PROG YOUR FUTURE REC</label>
          <br><br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <br><br>
    <div><p class="display-6 text-center fw-bold"><label class="anim-text">WEA(Women Empowerment Advocacy)</label></p></div>
    <br>
    <label>
      Department for the empowerment of young girls and women, as well as advancing gender equality and Social Impact through an
      inclusive and entrepreneurial digital transformation. WEA is made up of two flagship programs
    </label>
    <br><br>
    <div class="row pr-r-1">
      <div class="col-sm-6">
        <p class="fdv-text">
          <br>
          <label class="h4">LEN Feminin</label>
          <br><br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
        </p>
      </div>
      <div class="col-sm-6 pr-c-1">
        <p class="fdv-text">
          <br>
          <label class="h4">FemDev</label>
          <br><br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <br><br>
    <div><p class="display-6 text-center fw-bold"><label class="anim-text">HUDI (Humanitarian Direct Impact)</label></p></div>
    <br>
    <label>
      This department is about creating a more human community by  bring  on the table the  idea of collective  work and responsibility Two core programs are to be noted here
    </label>
    <br>
    <br>
    <div class="row pr-r-2">
      <div class="col-sm-6 pr-c-2">
        <p class="fdv-text">
          <br>
          <label class="h4">ChiDA</label>
          <br><br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        </p>
      </div>
      <div class="col-sm-6">
        <p class="fdv-text">
          <br>
          <label class="h4">WIP</label>
          <br><br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        </p>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="container-fluid">
    <app-news-letter></app-news-letter>
    <br><br>
  </div>
</div>
