<div class="container">
  <br><br><br>
  <div class="display-6 text-center"><label class="anim-domaine" translate data-aos="fade-up">header.element_three</label></div>
  <br><br><br>
  <div class="row">
    <div class="col-lg-4 mt-3">
      <div class="card shadow-lg card-domain" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="5000">
        <img src="assets/img/innovation.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <p class="text-center fw-bold h1 one-char">I</p>
          <h2 class="card-title text-center nos-prog" translate>home.domain_one</h2>
          <p class="card-text text-femm-dev" translate>home.domain_one_message</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-3">
      <div class="card shadow-lg card-domain" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="5000" >
        <img src="assets/img/reivention1.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <p class="text-center fw-bold h1 one-char">R</p>
          <h2 class="card-title text-center nos-prog" translate>home.domain_two</h2>
          <p class="card-text text-femm-dev" translate>home.domain_two_message</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-3">
      <div class="card shadow-lg card-domain" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="5000">
        <img src="assets/img/creation.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <p class="text-center fw-bold h1 one-char">C</p>
          <h2 class="card-title text-center nos-prog" translate>home.domain_three</h2>
          <p class="card-text text-femm-dev" translate>home.domain_three_message</p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="text-center">
    <button routerLink="/domain" class="more-btn btn btn-sm btn-light" translate data-aos="fade-up">home.dep_home_btn</button>
  </div>
  <br><br>
</div>
