<div class="container">
  <br><br><br>
  <div class="display-6 text-center"><label class="anim-domaine" translate>header.element_three</label></div>
  <br><br><br>
  <div class="row">
    <div class="col-sm-4 mt-3">
      <mat-card class="shadow-lg  mt-3 card-domain">
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <img src="assets/img/two.png" class="img-fluid" alt="">
            </div>
            <div class="row">
              <p class="text-center fw-bold h1 one-char">I</p>
            </div>
          </div>
          <p class="text-center h4 nos-prog" translate>home.domain_one</p>
          <p class="text-femm-dev" translate>home.domain_one_message</p>
        </mat-card-content>
      </mat-card>
    </div>
    <br><br>
    <div class="col-sm-4 mt-3">
      <mat-card class="shadow-lg mt-3 mt-3 card-domain">
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <img src="assets/img/three.png" class="img-fluid" alt="">
            </div>
            <div class="row">
              <p class="text-center fw-bold h1 one-char">R</p>
            </div>
          </div>
          <p class="text-center h4  nos-prog" translate>home.domain_two</p>
          <p class="text-femm-dev" translate>home.domain_two_message</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4 mt-3">
      <mat-card class="shadow-lg  mt-3 card-domain">
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <img src="assets/img/one.png" class="img-fluid" alt="">
            </div>
            <div class="row">
              <p class="text-center fw-bold h1 one-char">C</p>
            </div>
          </div>
          <p class="text-center h4  nos-prog" translate>home.domain_three</p>
          <p class="text-femm-dev" translate>home.domain_three_message</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br><br>
  <div class="text-center">
    <button routerLink="/domain" class="more-btn btn btn-sm btn-light" translate>home.dep_home_btn</button>
  </div>
  <br><br>
</div>
