<div class="container">
  <br><br>
  <div class="display-6 text-center"><label class="anim-domaine">DOMAINES</label></div>
  <br><br>
  <div class="row">
    <div class="col-sm-4 mt-3">
      <mat-card class="shadow-lg  mt-3">
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <img src="assets/img/ok_one.png" class="img-fluid" alt="">
            </div>
            <div class="row">
              <p class="text-center fw-bold h1 one-char">I</p>
            </div>
          </div>
          <p class="text-center h4 nos-prog">INNOVATION ET IMPACT SOCIAL</p>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
        <mat-card-actions class="text-center"></mat-card-actions>
      </mat-card>
    </div>
    <br><br>
    <div class="col-sm-4 mt-3">
      <mat-card class="shadow-lg mt-3 mt-3">
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <img src="assets/img/ok_three.png" class="img-fluid" alt="">
            </div>
            <div class="row">
              <p class="text-center fw-bold h1 one-char">R</p>
            </div>
          </div>
          <p class="text-center h4  nos-prog">REIVENTION DE LA MAIN D'OEUVRE LOCALE</p>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
        <mat-card-actions class="text-center"></mat-card-actions>
      </mat-card>
    </div>
    <div class="col-sm-4 mt-3">
      <mat-card class="shadow-lg  mt-3">
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <img src="assets/img/ok_two.png" class="img-fluid" alt="">
            </div>
            <div class="row">
              <p class="text-center fw-bold h1 one-char">C</p>
            </div>
          </div>
          <p class="text-center h4  nos-prog">CREATION D'EMPLOIS</p>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
        <mat-card-actions class="text-center">

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <br><br>
  <div class="text-center">
    <a routerLink="/domaine" mat-stroked-button class="more-btn">VOIR PLUS</a>
  </div>
  <br><br>
</div>
