<div class="container color-text">
    <br><br><br><br>
    <div>
        <p class="display-6 text-center" data-aos="fade-down"><label class="anim-text">CATA(Creative Art and Talent Advocacy)</label></p>
    </div>
    <br><br><br><br>
    <label data-aos="fade-down">
        Department responsible for promoting creativity and innovation, as well as accompanying talent.
        We showcase talent and create frameworks that facilitate creativity.
    </label>
    <br><br>
    <hr class="mt-2">
    <div class="row">
        <div class="col-sm-6 mt-3 mb-3">
            <p class="fdv-text" data-aos="fade-down">
                <br>
                <label class="h4" translate>storrytelling_home.storrytelling_home_title</label>
                <br><br>
                <span translate>storrytelling_home.storrytelling_home_msg_full</span>
            </p>
        </div>
        <div class="col-sm-6 mt-3 mb-3">
            <img src="assets/img/storytelling.jpg" class="img-fluid" alt="" data-aos="fade-up">
        </div>
    </div>
    <hr class="mt-2">
</div>