<mat-tab-group class="mtg">
  <mat-tab label="ADD RECORD">
    <form>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input type="text" matInput placeholder="eg: Nyongero " autocomplete="off">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input type="text" matInput placeholder="eg: Claude " autocomplete="off">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <textarea matInput placeholder="eg: CEO " ></textarea>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <br>
     <div>
      <input aria-label="picture" type="file" name="picture" id="picture">
     </div>
     <br><br><br><br>
     <p class="text-center">
      <button mat-flat-button class="btn-color">ADD RECORD</button>
     </p>
    </form>

  </mat-tab>
  <mat-tab label="UPDATE AND DELETE RECORD">
    <span>Waiting for the action...</span>
  </mat-tab>
  <mat-tab label="VIEWS RECORDS">
    <span>Waiting for the action...</span>
  </mat-tab>
</mat-tab-group>
