<div class="container">
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-domaine">DÉPARTEMENT</label></p></div>
  <br><br><br>
  <div class="row">
    <div class="col-sm-3">
      <mat-card class="shadow-lg card-anim-dep mt-3">
        <p class="h4 dep-card-title text-center">CATA</p>
        <mat-card-content>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="shadow-lg card-anim-dep mt-3">
        <p class="h4 dep-card-title text-center">COMLAB</p>
        <mat-card-content>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="shadow-lg card-anim-dep mt-3">
        <p class="h4 dep-card-title text-center">WEA</p>
        <mat-card-content>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="shadow-lg card-anim-dep mt-3">
        <p class="h4 dep-card-title text-center">HUDI</p>
        <mat-card-content>
          <p class="text-femm-dev">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit necessitatibus,
            quisquam sapiente excepturi reiciendis in fuga, eius ipsa obcaecati neque rem debitis officiis
            delectus. Molestiae cupiditate fugit delectus deleniti accusamus quaerat harum. Maiores
            quibusdam natus ea harum, voluptatibus excepturi repellat accusamus labore! Doloribus
            ratione porro magnam quam beatae tenetur!</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br><br>
  <div class="row">
    <p class="text-center"><a mat-stroked-button class="more-btn">VOIR PLUS</a></p>
  </div>
</div>
