<div class="container">
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-domaine" translate>header.element_six</label></p></div>
  <br><br><br>
  <div class="row">
    <div class="col-sm-3">
      <mat-card class="shadow-lg card-anim-dep mt-3">
        <p class="h4 dep-card-title text-center">CATA</p>
        <mat-card-content>
          <p class="text-femm-dev" translate>home.cata_message</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="shadow-lg card-anim-dep mt-3">
        <p class="h4 dep-card-title text-center">COMLAB</p>
        <mat-card-content>
          <p class="text-femm-dev" translate>
            home.comlab_message
            <br><br>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="shadow-lg card-anim-dep mt-3">
        <p class="h4 dep-card-title text-center">WEA</p>
        <mat-card-content>
          <p class="text-femm-dev" translate>
            home.wea_message
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="shadow-lg card-anim-dep mt-3">
        <p class="h4 dep-card-title text-center">HUDI</p>
        <mat-card-content>
          <p class="text-femm-dev" translate>
            home.hudi_message
            <br>
          </p>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br><br>
  <div class="row">
    <p class="text-center"><button routerLink="department" class="more-btn btn btn-sm btn-light" translate>home.dep_home_btn</button></p>
  </div>
</div>
