<section class="slide">
  <div class="wrapper">
    <br><br><br><br>
    <div class="container">
      <!-- <p class="display-2 text-center fw-bold" translate>blog.title</p> -->
      <div class="container">
        <div class="row" data-aos="fade-down">
          <div class="col-lg-2">
            <h2 translate>home.devise_title<span>:</span></h2>
          </div>
          <div class="col-lg-10">
            <h2 translate>home.devise</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
