<br><br><br><br>
  <div><p class="display-6 text-center" data-aos="fade-down"><label class="anim-text" translate>domain.domain_title_four</label></p></div>
  <br><br><br><br>
  <div class="container">
    <div class="row rd-4 shadow-lg ">
      <div class="col-sm-6 cd-4">
        <p class="devise-txt" data-aos="fade-down">
          <span class="h4">«</span><br>
          <span translate>domain.domain_four_msg</span>
          <br>
          <span class="h4">»</span>
        </p>
      </div>
      <div class="col-sm-6">
        <!-- <img src="assets/img/19.png" class="img-fluid" alt=""> -->
        <div id="carouselExampleIndicators" class="carousel slide mt-3 mb-3" data-aos="fade-up">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="imgr1" class=" d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img [src]="imgr2" class=" d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img [src]="imgr3" class=" d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
      </div>
    </div>
  </div>