<section class="slide">
  <div class="wrapper">
    <br><br><br><br>
    <div class="container">
      <p class="display-2 text-center fw-bold">PROGRAMME DE KIT-HUB</p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <p class="h3">DEVISE:</p>
          </div>
          <div class="col-sm-2">
            <p class="devise-txt">LA MUTUALISATION ET LE TRAVAIL EN RESEAUX COMME CLE DE L'INNOVATION ET DE LA REIVENTION DE LA MAIN D'OEUVRE</p>
          </div>
        </div>
      </div>
  </div>
</section>
<div class="pro-sec">
  <div class="container">
    <br><br>
    <div><p class="display-6 text-center fw-bold"><label class="anim-text">FEMMES DEVELOPPEUSE(FemDev)</label></p></div>
    <br><br>
    <div class="row pr-r-1">
      <div class="col-sm-6">
        <img src="assets/img/femmedev.png" class="img-fluid" alt="">
      </div>
      <div class="col-sm-6 pr-c-1">
        <p class="fdv-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
          dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
          neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
  <br><br>
  <div><p class="display-6 text-center fw-bold"><label class="anim-text">DIGITAL COMMUNITY</label></p></div>
  <br><br>
  <div class="row pr-r-2">
    <div class="col-sm-6 pr-c-2">
      <p class="fdv-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
        dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
        neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
        dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
        neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
        dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
        neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
        dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
        neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
        dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
        neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
        dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
        neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quod vitae sit consequatur, quos magni corporis doloremque alias,
        dignissimos esse laborum nulla! Non minima recusandae quas alias, sit, rerum provident nobis nisi debitis assumenda, nemo quae iusto
        neque dignissimos vel in odit error. Quis cumque excepturi obcaecati voluptatem facilis dicta.
      </p>
    </div>
    <div class="col-sm-6">
      <img src="assets/img/femmedev.png" class="img-fluid" alt="">
    </div>
  </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="container-fluid">
    <app-news-letter></app-news-letter>
    <br><br>
  </div>
</div>
