<section class="slide">
  <div class="wrapper">
    <br><br><br><br>
    <div class="container">
      <p class="display-2 text-center fw-bold" translate>about.title <span>KIT-HUB</span></p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <p class="h3">DEVISE:</p>
          </div>
          <div class="col-sm-2">
            <p class="devise-txt">LA MUTUALISATION ET LE TRAVAIL EN RESEAUX COMME CLE DE L'INNOVATION ET DE LA REIVENTION DE LA MAIN D'OEUVRE</p>
          </div>
        </div>
      </div>
  </div>
</section>
