<div class="container text-color">
    <br><br><br><br>
    <div><p class="display-6 text-center" data-aos="fade-down"><label class="anim-text">ComLab (Community Lab)</label></p></div>
    <br><br><br><br>
    <label data-aos="fade-up">
      Department in charge of accompanying people with ideas and students for the creation of employment and the reinvention of the workforce. Comlab consists of 2 programs
    </label>
    <br>
    <br>
    <hr class="mt-3">
    <div class="row">
      <div class="col-sm-6">
        <p class="fdv-text" data-aos="fade-up">
          <label class="h4" translate>digicom_home.digicom_home_title</label>
          <br><br>
          <span translate>digicom_home.digicom_home_msg_full</span>
        </p>
      </div>
      <div class="col-sm-6">
        <img src="assets/img/prog-future.png" class="img-fluid" alt="" data-aos="fade-down">
      </div>
    </div>
    <hr class="mt-3">
    <div class="row">
      <div class="col-sm-6">
        <p class="fdv-text" data-aos="fade-up">
          <br>
          <label class="h4" translate>program_home.program_home_title</label>
          <br><br>
          <span translate>program_home.program_msg_full</span>
        </p>
      </div>
      <div class="col-sm-6" data-aos="fade-down">
        <img src="assets/img/digicom-learn.png" class="img-fluid" alt="">
      </div>
    </div>
    <hr class="mt-3">
  </div>