.example-container {
    width: 100%;
    height: 80vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav-content {
    height: 100%;
  }
  .example-sidenav {
    padding: 20px;
    width: auto;
  }
  .nav-bar{
    background-color: #3e53a4;
    height: 15vh;
  }
  .img_admin_profile{
    border-radius: 50%;
  }
  .listitem{
    font-size: large;
    color: white;
    background-color: #3e53a4;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
  }
  .listitem:hover{
    background-color: #c0cfca;
    color: #3e53a4;
  }
  .clrs{
    color: #3e53a4;
  }
  .card-item
  {
    min-height: 30vh;
    color:#3e53a4
  }
