<app-event-slide></app-event-slide>
<section class="container" *ngFor="let event of events">
  <div class="row">
    <div class="col-sm-12 mt-3 py-3">
      <mat-card class="shadow-lg card-design" (click)="selectEvent(event)">
        <mat-card-title>
          <p class="">{{ event.event_name | uppercase }}</p>
        </mat-card-title>
        <mat-card-content>
          <div class="text-center">
            <img [src]="event.imag_link ?? 'assets/img/img-placeholder.png'" class="img-fluid shadow-lg" alt="">
            <p class="py-3 txt-css">{{ event.event_details }}</p>
          </div>
          <p class="h6">{{ event.event_date.toDate() | date:'fullDate'}}</p>
        </mat-card-content>
        <mat-card-actions>
    
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>

<div>
  <app-news-letter></app-news-letter>
</div>
