.txt-css{
  text-align: justify;
  margin: 2px;
}
.img-round{
  border-radius: 50%;
}
.card-design{
  cursor: pointer;
}
.event-title{
  color: #3e53a4;
}
.event-date{
  color: #3e53a4;
}
.input-filter{
  width: 100%;
  height: 50px;
  border-radius: 5px;
}
.input-filter:focus{
  border: 1px solid #3e53a4;
  transition: 0.5s;
}
.btn-find{
  width: auto;
  height: 50px;
}