.news-letter{
  background-color: #495e57;
  background-size: cover;
  opacity: 0.5;
  height: 70vh;
  color: white;
  transition: 2s;
}
.news-letter:hover{
  opacity: 1;
}
.width-exp{
  width: 300px;
  height: 40px;
}
.btn-send-news{
  width: 150px;
  height: 40px;
  background-color: #495e57;
  color: white;
}
.input-news-letters{
  color: white;
}
