<div class="news-letter">
  <div class="letters">
    <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="h1">Recevez nos <br>News letters</p>
          <br><br><br><br>
          <p class="">KITHUB au service des Jeunes pour leurs <br>Idées Innovantes</p>
        </div>
        <div class="col-sm-6">
          <p class="h6">Newsletter</p>
          <form [formGroup]="newsLetterForm" (submit)="sendNewsLetters(newsLetterForm.value)">
            <mat-form-field class="width-exp text-white " appearance="outline" color="primary">
              <mat-label>Email</mat-label>
              <input formControlName="email" name="email" type="email" matInput placeholder="Ex. sarahsolo@gmail.com">
            </mat-form-field>
            <br><br><br>
            <button type="submit" mat-raised-button class="btn-send-news" [disabled]="newsLetterForm.invalid">SUBCRIBE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
