<div class="news-letter">
  <div class="letters">
    <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="display-4" translate>news_letter.title_one</p>
          <br><br><br><br>
          <p class="" translate>news_letter.news_info</p>
        </div>
        <div class="col-sm-6">
          <p class="display-6" translate>news_letter.title_two</p>
          <form [formGroup]="myForm" (submit)="sendNewsLetters(myForm.value)">
            <input formControlName="email" name="email" type="email" class="form-control"  placeholder="Ex. sarahsolo@gmail.com" autocomplete="off">
            <br><br>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="myForm.invalid" translate>news_letter.subscribe_btn</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
