<div class="sec-2">
  <br><br><br><br>
  <p class="display-6 text-center">
    <label class="anim-text" translate>about.about_title_two</label>
  </p>
  <br><br><br><br>
  <div class="container">
    <div class="row rs-2">
      <div class="col-sm-6 cs-2">
        <p class="objectifif-text" translate><br>
          <span class="h4" translate>about.about_vis_title</span><br><br>
          about.about_vis_msg<br>
          <span>
            <span class="container" translate>about.about_vis_msg_add</span><br>
            <span class="container" translate>about.about_vis_msg_adx</span>
          </span>
        </p><br>
        <p class="miss-text" translate>
          <span class="h4" translate>about.about_miss_title</span><br><br>
          about.about_miss_msg <br><br>
          <span translate> about.about_miss_msg_1</span><br>
          <span translate> about.about_miss_msg_2</span><br>
          <span translate> about.about_miss_msg_3</span><br>
          <span translate> about.about_miss_msg_4</span><br>
          <span translate> about.about_miss_msg_5</span><br>
        </p>
      </div>
      <div class="col-sm-6">
        <img src="assets/img/30.png" class="img-fluid" alt="">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p class="h4 text-white" translate>about.about_obj_glob_title</p>
            <p class="objectifif-text">
              <span translate>about.about_obje_glob_msg</span><br>
              <span translate>about.about_obje_glob_msg_1</span><br>
              <span translate>about.about_obje_glob_msg_2</span><br>
              <span translate>about.about_obje_glob_msg_3</span><br><br>
              <span>
                <span class="container" translate>about.about_obje_glob_msg_3_a</span><br>
                <span class="container" translate>about.about_obje_glob_msg_3_b</span><br>
                <span class="container" translate>about.about_obje_glob_msg_3_c</span><br>
                <span class="container" translate>about.about_obje_glob_msg_3_d</span><br>
                <span class="container" translate>about.about_obje_glob_msg_3_e</span><br>
                <span class="container" translate>about.about_obje_glob_msg_3_f</span><br>
                <span class="container" translate>about.about_obje_glob_msg_3_g</span><br>
                <span class="container" translate>about.about_obje_glob_msg_3_h</span><br>
                <span class="container" translate>about.about_obje_glob_msg_3_i</span><br>
                <span class="container" translate>about.about_obje_glob_msg_3_j</span><br>
              </span>
            </p>
          </div>
          <div class="col-sm-6">
            <p class="h4 text-white" translate>about.about_obj_specif_title</p><br>
            <p class="objectifif-text">
              <span translate>about.about_obj_specif_msg_1</span><br><br>
              <span translate>about.about_obj_specif_msg_2</span><br><br>
              <span translate>about.about_obj_specif_msg_3</span><br><br>
              <span translate>about.about_obj_specif_msg_4</span><br><br>
              <span translate>about.about_obj_specif_msg_5</span><br><br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
