<div class="sec-2">
  <br><br>
  <p class="display-6 text-center fw-bold"><label class="anim-text" translate>about.about_title_two</label></p><br>
  <div class="container">
    <div class="row rs-2">
      <div class="col-sm-6 cs-2">
        <p class="objectifif-text" translate><br>
          <span class="h4" translate>about.about_vis_title</span><br><br>
          about.about_vis_msg
        </p><br>
        <p class="objectif-text" translate>
          <span class="h4" translate>about.about_miss_title</span><br><br>
          about.about_miss_msg
        </p>
      </div>
      <div class="col-sm-6">
        <img src="assets/img/30.png" class="img-fluid" alt="">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p class="text-white">AUTRE CHOSE</p>
            <p class="objectifif-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
            </p>
          </div>
          <div class="col-sm-6">
            <p class="text-white">AUTRE CHOSE</p>
            <p class="objectifif-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et assumenda reprehenderit cupiditate!
              Eum explicabo porro reprehenderit numquam ipsum tenetur, enim, provident deserunt sit molestias ipsa cum
              optio adipisci asperiores voluptate ab libero! Tempora neque, vel maiores amet, iste, odit sunt deserunt
              laboriosam molestias ad obcaecati exercitationem cumque adipisci! At.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
