<div class="container">
  <br><br><br>
  <div class="display-6 text-center"><label class="anim-domaine" translate>header.element_four</label></div><br><br>
  <br><br><br>
  <div class="container">
    <div class="row scroll_row ">
      <div class="col-lg-6 mt-3" *ngFor="let event of events">
        <div class="card shadow-lg">
          <img [src]="event.imag_link ?? 'assets/img/img-placeholder.png'" class="card-img-top styl" alt="" [routerLink]="['/events', event.id]" >
          <div class="card-body">
            <h5 class="card-title fw-bold">{{event.event_name | uppercase }}</h5>
            <p class="card-text fw-bold">{{ event.event_date.toMillis() | date: 'MM/dd/yyyy' }}</p>
          </div>
        </div>
        <!-- <mat-card class="shadow-lg">
          <mat-card-header>
            <mat-card-subtitle class="sub-title text-center"><a routerLink="#" translate>home.event_btn_sm</a></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="text-center">
              <img [src]="event.imag_link ?? 'assets/img/img-placeholder.png'" class="img-fluid shadow-lg" alt="">
            </div>
          </mat-card-content>
          <mat-card-actions>
            <p class="fw-bold">{{event.event_name | uppercase }}</p>
            <p class="fw-bold">{{ event.event_date.toMillis() | date: 'MM/dd/yyyy' }}</p>
          </mat-card-actions>
        </mat-card> -->
      </div>
    </div>
    <div class="text-center mt-3">
      <button routerLink="/events" class="event-btn btn btn-sm btn-light" translate>home.event_btn</button>
    </div>
    <br>
  </div>
</div>
