<div class="container">
  <br><br><br>
  <div class="display-6 text-center"><label class="anim-domaine" translate>header.element_four</label></div><br><br>
  <br><br><br>
  <div class="container">
    <div class="row scroll_row ">
      <div class="col-lg-6 mt-3" *ngFor="let event of events">
        <mat-card class="shadow-lg">
          <mat-card-header>
            <mat-card-subtitle class="sub-title text-center"><a routerLink="#" translate>home.event_btn_sm</a></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div>
              <!--<a routerLink="#"><img [src]="event_img_one" class="img-fluid event-img" alt=""></a>-->
            </div>
          </mat-card-content>
          <mat-card-actions>
            <p class="fw-bold">{{event.event_name}}</p>
            <p class="fw-bold">{{ event.event_date.toMillis() | date: 'MM/dd/yyyy' }}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="text-center mt-3">
      <button routerLink="/events" class="event-btn btn btn-sm btn-light" translate>home.event_btn</button>
    </div>
    <br>
  </div>
</div>
