<app-domain-slide></app-domain-slide>
<section class="d-sec-one" id="domaine">
  <app-innotech></app-innotech>
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-text" translate>domain.domain_title_two</label></p></div>
  <br><br><br><br>
  <app-reveivention></app-reveivention>
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-text" translate>domain.domain_title_three</label></p></div>
  <br><br><br><br>
  <app-creation></app-creation>
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-text" translate>domain.domain_title_four</label></p></div>
  <br><br><br><br>
  <div class="container">
    <div class="row rd-4 shadow-lg ">
      <div class="col-sm-6 cd-4">
        <p class="devise-txt">
          <span class="h4">«</span><br>
          <span translate>domain.domain_four_msg</span>
          <br>
          <span class="h4">»</span>
        </p>
      </div>
      <div class="col-sm-6">
        <img src="assets/img/19.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-text" translate>domain.domain_title_five</label></p></div>
  <br><br><br><br>
  <div class="container">
    <div class="row rd-5 shadow-lg ">
      <div class="col-sm-6">
        <img src="assets/img/four.png" class="img-fluid" alt="">
      </div>
      <div class="col-sm-6 cd-5">
        <p class="devise-txt">
          <span class="h4">«</span><br>
          <span translate>domain.domain_five_msg</span>
          <br>
          <span class="h4">»</span>
        </p>
      </div>
    </div>
  </div>
  <br><br>
  <div>
    <app-news-letter></app-news-letter>
  </div>
</section>
