<section class="slide">
  <div class="wrapper">
    <br><br><br><br>
    <div class="container">
      <p class="display-2 text-center fw-bold" translate>domain.title <span>KIT-HUB</span></p>
      <br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <p class="h3" translate>home.devise_title<span>:</span></p>
          </div>
          <div class="col-lg-10">
            <p class="devise-txt_main" translate>home.devise</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="d-sec-one" id="domaine">
  <div class="container">
    <br><br><br><br>
    <div><p class="display-6 text-center"><label class="anim-text" translate>domain.domain_title_one</label></p></div>
    <br><br><br><br>
    <div class="row rd-1 shadow-lg ">
      <div class="col-sm-6">
        <img src="assets/img/two.png" class="img-fluid" alt="">
      </div>
      <div class="col-sm-6 cd-1">
        <p class="devise-txt ">
          <span class="h4">«</span><br>
          <span translate>domain.domain_one_msg</span>
          <br>
          <span class="h4">»</span>
        </p>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-text" translate>domain.domain_title_two</label></p></div>
  <br><br><br><br>
  <div class="container">
    <div class="row rd-2 shadow-lg ">
      <div class="col-sm-6 cd-2">
        <p class="devise-txt">
          <span class="h4">«</span><br>
          <span translate>domain.domain_two_msg</span>
          <br>
          <span class="h4">»</span>
        </p>
      </div>
      <div class="col-sm-6">
        <img src="assets/img/three.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-text" translate>domain.domain_title_three</label></p></div>
  <br><br><br><br>
  <div class="container">
    <div class="row rd-3 shadow-lg ">
      <div class="col-sm-6">
        <img src="assets/img/one.png" class="img-fluid" alt="">
      </div>
      <div class="col-sm-6 cd-3">
        <p class="devise-txt">
          <span class="h4">«</span><br>
          <span translate>domain.domain_three_msg</span>
          <br>
          <span class="h4">»</span>
        </p>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-text" translate>domain.domain_title_four</label></p></div>
  <br><br><br><br>
  <div class="container">
    <div class="row rd-4 shadow-lg ">
      <div class="col-sm-6 cd-4">
        <p class="devise-txt">
          <span class="h4">«</span><br>
          <span translate>domain.domain_four_msg</span>
          <br>
          <span class="h4">»</span>
        </p>
      </div>
      <div class="col-sm-6">
        <img src="assets/img/19.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div><p class="display-6 text-center"><label class="anim-text" translate>domain.domain_title_five</label></p></div>
  <br><br><br><br>
  <div class="container">
    <div class="row rd-5 shadow-lg ">
      <div class="col-sm-6">
        <img src="assets/img/four.png" class="img-fluid" alt="">
      </div>
      <div class="col-sm-6 cd-5">
        <p class="devise-txt">
          <span class="h4">«</span><br>
          <span translate>domain.domain_five_msg</span>
          <br>
          <span class="h4">»</span>
        </p>
      </div>
    </div>
  </div>
  <br><br>
  <div>
    <app-news-letter></app-news-letter>
  </div>
</section>
