<section class="slide">
  <div class="wrapper">
    <br><br><br><br>
    <div class="container">
      <p class="display-2 text-center fw-bold" translate>domain.title <span>KIT-HUB</span></p>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <p class="h3" translate>home.devise_title<span>:</span></p>
          </div>
          <div class="col-sm-2">
            <p class="devise-txt" translate>home.devise</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="d-sec-one" id="domaine">
  <div class="container">
    <br><br><br><br>
    <div><p class="display-6 text-center fw-bold text-white"><label class="anim-text" translate>domain.domain_title_one</label></p></div>
    <br><br><br>
    <div class="row rd-1">
      <div class="col-sm-6">
        <img src="assets/img/32.png" class="img-fluid" alt="">
      </div>
      <div class="col-sm-6 cd-1">
        <p class="devise-txt" translate>
          domain.domain_one_msg
        </p>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div><p class="display-6 text-center fw-bold text-white"><label class="anim-text" translate>domain.domain_title_two</label></p></div>
  <br><br><br>
  <div class="container">
    <div class="row rd-2">
      <div class="col-sm-6 cd-2">
        <p class="devise-txt" translate>
          domain.domain_two_msg
        </p>
      </div>
      <div class="col-sm-6">
        <img src="assets/img/15.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div><p class="display-6 text-center fw-bold text-white"><label class="anim-text" translate>domain.domain_title_three</label></p></div>
  <br><br><br>
  <div class="container">
    <div class="row rd-3">
      <div class="col-sm-6">
        <img src="assets/img/25.png" class="img-fluid" alt="">
      </div>
      <div class="col-sm-6 cd-3">
        <p class="devise-txt" translate>
          domain.domain_three_msg
        </p>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div><p class="display-6 text-center fw-bold text-white"><label class="anim-text" translate>domain.domain_title_four</label></p></div>
  <br><br><br>
  <div class="container">
    <div class="row rd-4">
      <div class="col-sm-6 cd-4">
        <p class="devise-txt" translate>
          domain.domain_four_msg
        </p>
      </div>
      <div class="col-sm-6">
        <img src="assets/img/19.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div><p class="display-6 text-center fw-bold text-white"><label class="anim-text" translate>domain.domain_title_five</label></p></div>
  <br><br><br>
  <div class="container">
    <div class="row rd-5">
      <div class="col-sm-6">
        <img src="assets/img/6.png" class="img-fluid" alt="">
      </div>
      <div class="col-sm-6 cd-5">
        <p class="devise-txt" translate>
          domain.domain_five_msg
        </p>
      </div>
    </div>
  </div>
  <br><br>
  <hr>
  <br><br>
  <div class="container-fluid">
    <app-news-letter></app-news-letter>
    <br><br>
  </div>
</section>
